@page
@model IndexModel
@{
    ViewData["Title"] = "Page d'accueil";
}



	<div class="my-5"></div>
	<div class="my-5 my-5 container-fluid bg-info text-center text-white break-long-words p-2 bold shadow animate__animated animate__bounce animate__delay-2s">Full Stack Developper | 2021 - 2022
	</div>

	<div class="jumbotron bg-info text-white bold my-2 container">
		<h1 class="display-3 text-center illustration-exception">|| Hello world ! || ❤️</h1>
		
		<p class="lead">Moi c'est Dav le dev. Un passionné du web et de l'internet of thing. Vous allez vous regaler dans ce site et pleines nouvelles choses à découvrir ensemble. Je suis quand même en recherche d'une entreprise pouvant m'accueillir pour un contrat de stage ou comme votre apprenti Développeur Web et Web Mobile à compter du 20 Juin 2022. Je suis dans l'optique de la vision la plus postive et prêt à rélever les défis ensemble.
		</p>
		<div class="container">
			<p class="lead" text-center ">😁😁😁😁Hey Voilà ton apprenti Dev Full Stack || Orienté Développeur Web et Mobile || Symfony | Angular 😜😜😜😜</p>
		</div>
		<hr class="my-4">
		<p>Ici, ça parle de code mais pas que ça 😁! Nous sommes là pour résoudre les défis ensemble. alors attachez vos ceintures ! Nous allons décoller => Jusqu'au bout de l'espace du fil et de la requête !!! 😜😜😜😜😜</p>
		
	</div>